/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets/pages/img/car/uploads
/public/assets/pages/img/hotel/uploads
/public/assets/pages/img/hotel/uploads/thumbnails